
body{
    padding: 100px;
    background-image: url('/image/black.jpg');
}
.internet{
    background-color: #000000c7;
    padding: 30px;
    color: white;
}
.btn-primary{
    background-color: green !important;
}
.nopadding {
    padding: 0 !important;
    margin: 0 !important;
 }
 .start-at{
    background-color: #f5cdb8;
    padding: 30px;
 }
 .stop-at{
     background-color: #7ad8d3;
     padding: 30px;
 }
 .minute{
    padding: 30px;
    background-color: #ffbf99;
 }
 .money{
    padding: 30px;
    background-color: #238883;
 }
 .datetime{
     padding: 30px;
     background-color: #6767affa;
     color: white;
 }
 #btnstart{
     display: block;
     margin: auto;
 }

 #btnStop{
     display: none;
     margin: auto;
 }
 #btnReset{
     display: none;
     margin: auto;
 }